* {
    font-family: 'Cantarell', sans-serif;
    /* background-color: #DCEFE0; */
}

body {
    width: auto;
    background-color: #DCEFE0;
}

.up {
    background-color: #D6D6D6;
}

.close-btn {
    background-color: #D6D6D6;
}

.regi-container-large {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.regi-container {
    display: flex;
    flex-direction: column;
}

.regi-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    background-color: #DCEFE0;
}

.alreadymember {
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container input {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 15px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    background-color: #DCEFE0;
}

.headerlogo {
    border-radius: 20px;
    margin-left: 10px;
}

.headerapp {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    align-items: center;
    place-self: center;
    justify-items: center;
    margin: 20px;
    height: auto;
    padding: 20px;
    font-size: 30px;
    color: #778A35;
    background-color: #D6D6D6;
    margin: 0;
    padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 15px;
}

li {
    float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 20px;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

.userimg img {
    width: 100px;
    border-radius: 150px;
    max-height: 100px;
    box-shadow: 8px 6px 26px 19px rgba(170,173,170,1);
}

.modal {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  position: fixed;
  z-index: 9998;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 20%;
  background-color: #D6D6D6;
  transition: opacity .3s ease;
  text-align: center;
  opacity: 0.98;
  /* border: 0.5px solid #909090; */
  border-radius: 10px;
}

.mainpage {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
    justify-items: center;
}

.mainpage img {
    border-radius: 40px
}

.regi-btn {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px -1px 0px #258577;
}

.regi-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.regi-btn:active {
	position:relative;
	top:1px;
}

/* -------------------------------upload btn -------------------------------------- */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #D6D6D6;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00FF7F;
}


.close-btn {
    font-size: 1.25em;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #D6D6D6;
    display: inline-block;
}

.close-btn:hover {
    background-color: #00FF7F;
}
/* ------------------------------- profile -------------------------------------- */

.bioeditor-container-large {
    display: flex;
    justify-content: center;
}

.bioeditor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    padding: 20px;
    align-items: center;
    place-self: center;
    width: 35em;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 10px #DCDCDC;
}

.propic {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.propic img {
    object-fit: cover;
    border-radius: 150px;
    width: 150px;
    max-height: 150px;

}

.nameandbio {
    margin: 10px;
    padding: 10px;
}

.bioedit {
    font-size: 20px;
}

/* ------------------------------- new -------------------------------------- */

.search-heading {
    margin-left: 30px;
}

.inputforsearch {
    -webkit-appearance: none;
    outline: none;
    border: 0px;
    outline-width: 0;
    height: 40px;
    font-size: 20px;
    color: black;
    padding-left: 50px;
    letter-spacing: 0.1em;
    background-color: #DCEFE0;
}

.newpeople {
    display: flex;
    flex-direction: row;
    /* margin: 10px;
    padding: 10px; */
    border-radius: 10px;
    justify-content: center;
}

.newpeoplein {
    box-shadow: 0px 1px 5px 10px #DCDCDC;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.newpeople img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 200px;
    box-shadow: 8px 6px 26px 19px rgba(170,173,170,1);
}
/* ------------------------------- add friend btn ------------------------------- */

.addfriend-btn {
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px -1px 0px #258577;
}

.addfriend-btn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.addfriend-btn:active {
	position:relative;
	top:1px;
}

/* ------------------------------- friends ------------------------------- */
.people {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.people img {
    height: 200px;
}

.wannabes{
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0px 1px 5px 10px #DCDCDC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    align-items: center;
}

.wannabesindi {
    background-color: #D6D6D6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 200px;
}

.wannabesindi img {
    width: 150px;
    /* max-height: 150px; */
    object-fit: cover;
    border-radius: 200px;
}

.friends {
    box-shadow: 0px 1px 5px 10px #DCDCDC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    align-items: center;
}

.friendsindi {
    background-color: #D6D6D6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 200px;
}

.friendsindi img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 200px;
}

.pennding {
    box-shadow: 0px 1px 5px 10px #DCDCDC;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    align-items: center;
}

.penndingindi {
    background-color: #D6D6D6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 200px;
}

.penndingindi img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 200px;
}

.mateimg {
    box-shadow: 8px 6px 26px 19px rgba(170,173,170,1);
}

.chat-container {
    background-color: #D6D6D6;
    height: 60vh;
    width: 600px;
    overflow-y: scroll;
}

.chat-container img {
    border-radius: 150px;
    width: 50px;
    max-height: 50px;
}

.chat-body {
    box-shadow: 8px 6px 26px 19px rgba(170,173,170,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
}

.chat {
    border-radius: 10px;
    box-shadow: 8px 6px 26px 19px rgba(170,173,170,1);
}

.chat-msg {
    color: #000080;
    background-color: #DCEFE0;
    border-radius: 10px;
    height: 30px;
}

.chat-in {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 10px;
}

.wall-post-large {
    height: 40vh;
    border-radius: 10px;
    background-color: #E8E8E8;
    overflow-y: scroll;
    box-shadow: 0px 1px 5px 10px #DCDCDC;
}

.textarea {
    border-radius: 10px;
    font-size: 15px;
    border: none;
    box-shadow: 0px 1px 5px 10px #DCDCDC;
}

.myprofile {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.05fr 1fr;
}

.wall-wall {
    grid-column-start: 3;
    margin-right: 30px;
    width: 75vh;
}

.wall-post-large img {
    border-radius: 150px;
    width: 50px;
    max-height: 50px;
}

.liveimg {
    margin-left: 200px;
}


.home {
    height: 100vh;
    background: url("/PostAd_back_high.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
