* {
    font-family: 'Cantarell', sans-serif;
}

input {
    font-size: 15px;
}

.headerapp {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    align-items: center;
    place-self: center;
    justify-items: end;
    margin: 20px;
    height: auto;
}

.modal {
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  position: fixed;
  z-index: 9998;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 20%;
  background-color: #F5F5F5;
  transition: opacity .3s ease;
  text-align: center;
  opacity: 0.98;
  border: 0.5px solid #909090;
  border-radius: 10px;
}

.mainpage {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    justify-items: center;
}

.mainpage img {
    border-radius: 50px;
}

.regi-btn {
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}

.regi-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.regi-btn:active {
	position:relative;
	top:1px;
}

/* -------------------------------upload btn -------------------------------------- */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #9ACD32;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00FF7F;
}


.close-btn {
    font-size: 1.25em;
    font-weight: 700;
    color: #F5F5F5;
    background-color: #9ACD32;
    display: inline-block;
}

.close-btn:hover {
    background-color: #00FF7F;
}
/* ------------------------------- profile -------------------------------------- */

.bioeditor-container {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 30px;
}

.propic img {
    object-fit: cover;
    margin: 10px;
    padding: 10px;
}

.nameandbio {
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
}

.bioedit {
    font-size: 20px;
}

/* ------------------------------- new -------------------------------------- */

.inputforsearch {
    font-size: 30px;
}

.newpeople {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.newpeoplein {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}

.searched {
    margin: 20px;
    padding: 20px;
}
